{% extends "layout.html" %}

{% block  title%}
Settings
{% endblock %}

{% block body %}
<div class="text-primary">
    <h3>Current selected interface</h3>
    {{ selected_device }}
    <h3>Change Interface</h3>
    <form action="{% url 'settings:index' %}" method="POST">
        {% csrf_token %}
        Interface:
        <select name="device">
            {% for device in devices %}
            <option value="{{ device.device }}">{{ device.device }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
</div>
{% endblock %}